.calc {
  position: relative;
  @include flexCol;
  width: clamp(325px, 90%, 400px);
  height: max-content;
  min-height: 625px;
  padding-bottom: 40px;
  box-shadow: 5px 5px 15px $cc-shadow;
  border-radius: $br-md;

  * {
    font-family: $ff-calc;
  }

  &__tabs {
    display: flex;
    width: 100%;
    height: max-content;
    margin-bottom: 15px;
  }

  &__tab {
    padding: 15px 25px;
    cursor: pointer;
    background: #eee;
    background: $cc-lt;

    &:first-child {
      border-radius: $br-md 0 0 0;
    }

    &--active {
      background: $cc-primary-66;
    }
  }

  &__switch-container {
    width: 100%;
    padding: 20px 10px;
  }

  &__inputs {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px;
  }

  &__input-group {
    @include flexCol;
    font-size: 14px;
    margin: 0 auto;
    align-items: center;

    label {
      margin-bottom: 5px;
    }

    .input {
      width: 30px;
      height: 30px;
      background: $cc-xlt;
      outline: none;
      border: none;
      text-align: center;
      padding: 0 2px;
    }
  }

  &__total {
    @include flexCol;
    margin-top: 12px;
    margin-bottom: 15px;

    hr {
      width: 90%;
      align-self: center;
      justify-self: center;
    }

    .calc__result-group {
      padding: 15px 20px;
    }
  }

  &__results {
    @include flexCol;
  }

  &__result-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 20px;

    h1 {
      font-size: 25px;
    }
  }

  &__result {
    background: $cc-xlt;
    min-width: 80px;
    height: 25px;
  }

  &__buttons {
    width: 50%;
    align-self: center;
    margin-top: auto;

    .btn--primary {
      margin-bottom: 15px;
    }
  }
}
