@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

$cc-primary-46: #6940aa;
$cc-primary: #845ec2;
$cc-primary-66: #9f81cf;

$cc-xdk: #170e25;
$cc-dk: #2d1c4a;
$cc-xlt: #f9f8fc;
$cc-lt: #ddd3ee;

// Second colors
$cc2-xdk: #2b080b;
$cc2-dk: #570f16;
$cc2-primary-46: #c82332;
$cc2-primary: #de404f;
$cc2-primary-66: #e56b77;
$cc2-lt: #f6cbcf;
$cc2-xlt: #fdf6f7;

$cc-success: #66ff66;
$cc-warning: #e1e500;
$cc-error: #ff3333;

$cc-neutral: #cccccc;
$cc-shadow: rgba(0, 0, 0, 0.25);

$ff-main: "Inria Sans", sans-serif;
$ff-secondary: "Roboto Condensed", sans-serif;
$ff-calc: "Inter", sans-serif;

$fw-bold: 700;

// Border radius settings
$br-soft: 5px;
$br-md: 10px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $ff-main;
}

body {
  background: $cc2-xlt;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Remove arrows on number inputs
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Remove arrows on number inputs
// Firefox
input[type="number"] {
  -moz-appearance: textfield;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

.container {
  border: 1px dashed blue;
  width: 100%;

  &--sm {
    width: 25%;
  }

  &--md {
    width: 50%;
  }
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media queries
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin media-xxl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
