// 768px
@include media-md {
  .nav {
    width: clamp(325px, 25%, 350px);
  }

  .table {
    &__cell {
      font-size: 1.2rem;
      padding: 10px 5px;

      &--header {
        font-size: 1.3rem;
      }
    }
  }
}

// 1024px
@include media-lg {
  .row {
    &--flex {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .table {
    &--full {
      width: clamp(345px, 100%, 1050px);
    }

    &--md {
      width: clamp(345px, 100%, 450px);
    }
  }

  .row {
    display: flex;
    justify-content: center;

    &--flex {
      justify-content: space-evenly;
    }
  }
}

// 1400px
@include media-xl {
  .nav-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
    opacity: 1;
    left: 0;
  }

  .main {
    width: 75%;
    margin-left: auto;
  }

  // .row {
  //   display: flex;
  //   justify-content: center;

  //   &--flex {
  //     justify-content: space-evenly;
  //   }
  // }
}

// @include media-xxl {
//   .row {
//     display: flex;
//     justify-content: center;

//     &--flex {
//       justify-content: space-evenly;
//     }
//   }
// }
