.table {
  * {
    font-family: $ff-secondary;
  }

  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-radius: 2px;
  margin-bottom: 25px;

  &__caption {
    background: #fff;
    padding: 10px;
    font-size: 20px;
  }

  &__header {
    text-align: left;
  }

  &__row {
    margin-bottom: 2px;
  }

  &__cell {
    border-bottom: 2px solid $cc-lt;
    padding: 2px 5px;
    font-weight: $fw-lt;
    font-size: 0.95rem;

    &--header {
      font-size: 1rem;
      font-weight: $fw-reg;
    }
  }
}
